<div class="space-y-12">
  <div class="text-center">
    <div class="text-4xl font-extrabold">Frequently Asked Questions</div>
    <div class="text-gray-500 max-w-md mx-auto mt-4 font-medium">
      Can't find the answer to your question? Chat with us or write us a
      message.
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-8">
    <div *ngFor="let item of items">
      <div class="text-lg font-medium">{{ item.label }}</div>
      <div class="text-gray-500 text-sm mt-1 leading-relaxed">
        {{ item.description }}
      </div>
    </div>
  </div>
</div>
