<mat-drawer-container class="overflow-hidden h-full w-full">
  <mat-drawer
    (openedChange)="drawerChange($event)"
    [mode]="(mobileQuery$ | async) ? 'over' : 'side'"
    [opened]="!!(drawerOpen$ | async)"
    class="drawer"
    position="start">
    <div class="h-full flex flex-col">
      <div
        class="flex-none py-4 bg-gray-50 dark:bg-gray-900 space-y-4 border-b">
        <div class="flex items-center mx-4">
          <div class="flex-1 text-3xl font-semibold">Chats</div>

          <button
            [matMenuTriggerFor]="newChatMenu"
            color="primary"
            mat-raised-button
            type="button">
            <mat-icon svgIcon="mat:add_circle"></mat-icon>
            <span>New Chat</span>
          </button>

          <mat-menu #newChatMenu="matMenu" xPosition="after" yPosition="below">
            <button mat-menu-item>
              <mat-icon matMenuItemIcon svgIcon="mat:add_circle"></mat-icon>
              <span>Add Contact</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <mat-icon matMenuItemIcon svgIcon="mat:group"></mat-icon>
              <span>New Group</span>
            </button>
            <button mat-menu-item>
              <mat-icon matMenuItemIcon svgIcon="mat:workspaces"></mat-icon>
              <span>New Workspace</span>
            </button>
            <button mat-menu-item>
              <mat-icon matMenuItemIcon svgIcon="mat:token"></mat-icon>
              <span>New Community</span>
            </button>
          </mat-menu>
        </div>

        <div class="flex px-4">
          <mat-form-field
            appearance="outline"
            class="vex-mat-dense-xs flex-1 bg-foreground"
            subscriptSizing="dynamic">
            <mat-icon
              class="icon-sm"
              matIconPrefix
              svgIcon="mat:search"></mat-icon>
            <input matInput placeholder="Search chats..." type="text" />
          </mat-form-field>
        </div>
      </div>

      <div class="flex-1 min-h-0" data-simplebar>
        <div class="pt-2">
          <div class="flex items-center px-4 pb-2 gap-2">
            <button
              class="text-primary-600 bg-primary-100 dark:text-primary-200 dark:bg-primary-700/20 font-semibold text-sm px-4 py-2 rounded-lg hover:bg-primary-200 hover:dark:bg-primary-700/30 transition flex-1 text-center relative"
              matRipple
              type="button">
              All
            </button>
            <button
              class="text-gray-400 font-medium text-sm px-4 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800 transition flex-1 text-center relative"
              matRipple
              type="button">
              Teams
            </button>
            <button
              class="text-gray-400 font-medium text-sm px-4 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800 transition flex-1 text-center relative"
              matRipple
              type="button">
              Workspaces
            </button>
          </div>

          <div class="space-y-1">
            <ng-container *ngFor="let chat of chats$ | async">
              <a
                #rla="routerLinkActive"
                [ngClass]="{
                  'text-primary-600 bg-primary-50 dark:text-primary-200 dark:bg-primary-700/20':
                    rla.isActive
                }"
                [routerLink]="['./', chat.id]"
                class="relative text-sm mx-2 px-3 py-2 rounded hover:bg-primary-100 hover:dark:bg-primary-700/10 flex items-center gap-3 transition ease-out"
                matRipple
                routerLinkActive>
                <div
                  *ngIf="rla.isActive"
                  class="w-1 bg-primary-600 absolute left-0 top-0 bottom-0 rounded-full my-1"></div>

                <img
                  class="h-10 w-10 rounded-full flex-none select-none"
                  src="{{ chat.imageUrl }}" />
                <div class="flex-1 select-none truncate">
                  <div class="truncate flex mb-0.5">
                    <div class="font-medium flex-1">{{ chat.name }}</div>
                    <div class="flex-none text-xs text-gray-500">
                      {{ chat.timestamp }}
                    </div>
                  </div>
                  <div class="text-xs text-gray-500 truncate">
                    {{ chat.lastMessage }}
                  </div>
                </div>
              </a>
            </ng-container>
          </div>

          <a
            class="inline-block text-gray-600 dark:text-gray-300 font-medium text-xs mx-6 mt-3"
            href="javascript:void(0);">
            <span>Show more</span>
            <mat-icon
              class="icon-xs align-middle select-none"
              svgIcon="mat:expand_more"></mat-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="relative">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
