<div class="px-6 lg:px-8 py-20 h-full bg-foreground">
  <div class="container space-y-20">
    <!-- HEADER -->
    <div class="space-y-12">
      <div class="text-center">
        <div class="text-2xl font-medium">Simple, transparent pricing.</div>
        <div class="text-5xl font-extrabold">Always know what you'll pay</div>
        <div class="text-gray-500 font-medium max-w-md mx-auto mt-4 text-lg">
          Choose an affordable plan that's packed with the best features for
          engaging your driving sales.
        </div>
      </div>

      <div class="flex items-center justify-center gap-2">
        <div
          [ngClass]="{ 'text-primary-600 font-semibold': !isYearlyChecked }"
          class="text-sm text-gray-500">
          Monthly Billing
        </div>
        <mat-slide-toggle [(ngModel)]="isYearlyChecked" color="primary">
          <span
            [ngClass]="{ 'text-primary-600 font-semibold': isYearlyChecked }"
            class="text-gray-500"
          >Yearly Billing</span
          >
        </mat-slide-toggle>
      </div>
    </div>

    <!-- PRICING -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="border rounded-2xl">
        <div class="mx-8 py-8 space-y-4 border-b">
          <div class="text-2xl font-bold">Starter</div>
          <div>
            <span class="text-5xl font-extrabold">{{
              isYearlyChecked ? "$99" : "$12"
              }}</span>
            <span class="text-xl font-semibold">{{
              isYearlyChecked ? "/year" : "/month"
              }}</span>
          </div>
          <div class="text-gray-500 font-medium">
            Get started with the essentials to scale your work using
            professional tools.
          </div>
          <button class="w-full" color="primary" mat-flat-button type="button">
            Get Started
          </button>
        </div>

        <div class="px-8 py-8 space-y-4">
          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>1GB database & 5GB file storage</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Up to 5GB bandwidth</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Up to 50MB file uploads</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Social OAuth providers</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>75,000 monthly active users</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>24h log-retention</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Access to our community forums</div>
          </div>
        </div>
      </div>

      <div class="ring-2 ring-primary-500 rounded-2xl relative">
        <div class="text-center">
          <div
            class="absolute inline-block rounded-full bg-primary-500 text-on-primary-500 font-semibold text-xs px-4 py-2 -translate-y-[50%] -translate-x-[50%]">
            MOST POPULAR
          </div>
        </div>

        <div class="mx-8 py-8 space-y-4 border-b">
          <div class="text-2xl font-bold">Premium</div>
          <div>
            <span class="text-5xl font-extrabold">{{
              isYearlyChecked ? "$199" : "$24"
              }}</span>
            <span class="text-xl font-semibold">{{
              isYearlyChecked ? "/year" : "/month"
              }}</span>
          </div>
          <div class="text-gray-500 font-medium">
            Best for professional developers building rich applications.
          </div>
          <button class="w-full" color="primary" mat-flat-button type="button">
            Try 14 days free
          </button>
        </div>

        <div class="px-8 py-8 space-y-4">
          <div class="font-semibold">Everything in Starter, plus:</div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>8GB database & 100GB file storage</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Up to 50GB bandwidth</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Up to 5GB file uploads</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Social OAuth providers</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>250,000 monthly active users</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Daily Backups</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>99.9% guarenteed uptime</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>30-days log-retention</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Email & Phone Support</div>
          </div>
        </div>
      </div>

      <div class="border rounded-2xl">
        <div class="mx-8 py-8 space-y-4 border-b">
          <div class="text-2xl font-bold">Enterprise</div>
          <div>
            <span class="text-5xl font-extrabold">{{
              isYearlyChecked ? "$399" : "$48"
              }}</span>
            <span class="text-xl font-semibold">{{
              isYearlyChecked ? "/year" : "/month"
              }}</span>
          </div>
          <div class="text-gray-500 font-medium">
            Best for organisation with advanced customization and security
            needs.
          </div>
          <button class="w-full" color="primary" mat-flat-button type="button">
            Contact Sales
          </button>
        </div>

        <div class="px-8 py-8 space-y-4">
          <div class="font-semibold">Everything in Premium, plus:</div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Enterprise OAuth providers</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>SSO/SAML</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>SOC2</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Custom contracts & invoicing</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>On-premise support</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>Custom integrations</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>10-year log-retention</div>
          </div>

          <div class="flex items-center gap-3 text-sm">
            <mat-icon
              class="icon-sm text-primary-500"
              svgIcon="mat:check"></mat-icon>
            <div>24x7 premium enterprise support</div>
          </div>
        </div>
      </div>
    </div>

    <div class="rounded-2xl overflow-hidden grid grid-cols-1 md:grid-cols-2">
      <div class="relative">
        <img
          class="object-cover h-full w-full"
          src="/assets/img/demo/business-people-help.jpg" />
        <div class="absolute inset-0 bg-gray-800/20"></div>
      </div>
      <div class="bg-gray-800 text-gray-100 px-10 py-12 flex flex-col gap-4">
        <div class="flex-auto">
          <div class="text-lg font-medium text-gray-300">
            Have additional questions?
          </div>
          <div class="text-4xl font-extrabold">We're here to help</div>
          <div class="text-gray-300 mt-3 leading-relaxed">
            Everything you need to know about how you can transform your
            business into a scalable, secure and profitable business. Can't find
            the answer you're looking for? Simply chat to one of our friendly
            team members using the integrated chat.
          </div>
        </div>

        <button class="flex-none" mat-flat-button type="button">
          <span>Visit Help Center</span>
          <mat-icon class="icon-xs" svgIcon="mat:open_in_new"></mat-icon>
        </button>
      </div>
    </div>

    <div class="text-center">
      <div class="text-4xl font-extrabold">User-centric development</div>
      <div class="text-gray-500 max-w-md mx-auto mt-4 font-medium">
        Develop core skills and awesome tooling, quicker than anywhere using our
        tools.
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-6 gap-y-12">
      <div *ngFor="let item of items" class="flex gap-3">
        <mat-icon
          [svgIcon]="item.icon"
          class="flex-none text-green-600 mt-0.5"></mat-icon>
        <div>
          <div class="text-lg font-medium">{{ item.label }}</div>
          <div class="text-gray-500 text-sm mt-1 leading-relaxed">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>

    <div
      class="bg-gray-100 dark:bg-gray-800 border flex flex-col md:flex-row md:items-center gap-4 px-10 py-12 rounded-2xl">
      <div class="flex-auto">
        <div class="text-4xl font-extrabold">Ready to fly?</div>
        <div
          class="text-4xl text-primary-700 dark:text-primary-500 font-extrabold mt-1">
          Start your free trial today.
        </div>
      </div>

      <button color="primary" mat-raised-button type="button">
        Get Started
      </button>
      <button mat-stroked-button type="button">Learn more</button>
    </div>

    <div>
      <vex-pricing-testimonials></vex-pricing-testimonials>
    </div>

    <div
      class="py-16 px-8 text-center bg-primary-600 dark:bg-primary-800 text-on-primary-600 rounded-2xl">
      <div class="text-5xl font-extrabold drop-shadow-sm max-w-xl mx-auto">
        Bring your productivity to the next level.
      </div>
      <div class="text-gray-200 mt-4 max-w-md mx-auto">
        Explore new horizons and subscribe to a delightful experience you will
        never want to miss.
      </div>

      <button class="mx-auto mt-6" mat-raised-button type="button">
        Sign up for free
      </button>
    </div>

    <div>
      <vex-pricing-faq></vex-pricing-faq>
    </div>
  </div>
</div>
