<div [class.container]="isVerticalLayout$ | async" class="h-full w-full px-0">
  <mat-drawer-container class="h-full w-full">
    <mat-drawer
      #drawer
      [(opened)]="drawerOpen"
      [disableClose]="(isDesktop$ | async) ?? true"
      [mode]="(drawerMode$ | async) ?? 'side'"
      class="vex-mail-drawer max-w-3xs w-full bg-base"
      position="start">
      <div
        class="vex-mail-header bg-primary-600/10 px-6 relative flex flex-col justify-center">
        <div *ngIf="isDesktop$ | async" class="flex-1 flex items-center">
          <p class="text-2xl font-medium flex items-center">
            <mat-icon
              @scaleIn
              class="ltr:mr-4 rtl:ml-4 block icon-2xl"
              svgIcon="mat:mail"></mat-icon>
            <span @fadeInRight class="block">Mailbox</span>
          </p>
        </div>

        <div class="vex-mail-header-overflow flex-none flex items-center">
          <button
            (click)="openCompose()"
            class="w-full"
            color="primary"
            mat-raised-button
            type="button">
            Compose
          </button>
        </div>
      </div>

      <vex-mail-sidenav [drawer]="drawer"></vex-mail-sidenav>
    </mat-drawer>

    <mat-drawer-content class="bg-base flex flex-col overflow-hidden">
      <div class="vex-mail-header flex-none bg-primary-600/10 flex flex-col">
        <div class="flex-auto flex items-center">
          <button
            (click)="drawer.open()"
            class="mx-6 lg:hidden"
            mat-icon-button
            type="button">
            <mat-icon svgIcon="mat:menu"></mat-icon>
          </button>

          <mat-form-field
            [class.vex-mat-dense-xs]="!(isDesktop$ | async)"
            appearance="outline"
            class="w-full mr-6"
            subscriptSizing="dynamic">
            <mat-icon
              [class.icon-sm]="!(isDesktop$ | async)"
              matIconPrefix
              svgIcon="mat:search"></mat-icon>
            <input
              class="bg-foreground"
              matInput
              placeholder="Search mails..."
              type="text" />
          </mat-form-field>
        </div>

        <div class="vex-mail-header-overflow flex-none"></div>
      </div>

      <div
        [ngClass]="{
          'ltr:mr-6 rtl:ml-6 mb-6': isDesktop$ | async
        }"
        class="vex-mail-content-overflow flex-auto bg-foreground rounded shadow flex flex-col overflow-hidden">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
