<div class="space-y-12">
  <div>
    <div class="text-center text-4xl font-extrabold">
      Don't take our word for it.
    </div>
    <div class="text-center text-4xl font-extrabold">Trust our customers</div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
    <div *ngFor="let item of items">
      <div class="flex items-center gap-0.5">
        <div
          *ngFor="let star of getStarsArray(item)"
          class="rounded-lg bg-green-500 text-white inline-flex items-center justify-center p-0.5">
          <mat-icon class="flex-none icon-xs" svgIcon="mat:star"></mat-icon>
        </div>
      </div>

      <div class="text-gray-700 dark:text-gray-400 mt-3 mb-4">
        {{ item.description }}
      </div>

      <div class="flex items-center gap-3">
        <img class="w-9 h-9 rounded-full" src="{{ item.imageSrc }}" />
        <div class="space-y-0.5">
          <div class="font-medium text-sm">{{ item.name }}</div>
          <div class="flex items-center gap-1 text-gray-500 font-medium">
            <mat-icon class="icon-xs" svgIcon="mat:verified"></mat-icon>
            <div class="text-xs">Verified customer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
